$font-white: #ffffff;
$font-black: #000000;
$border-grey: #555555;
$background: #1f1f1f;
$background-grey: rgba(100,100,100,.6);

*{
    color: $font-white;
    transition: .3s all ease-in-out;
    font-size: 16px;
}

input,button{
    padding: 0;
    border: 0;
    color: $background;
    background:  font-white;
    &:focus{
        outline: none;
    }
}

a{
    color: skyblue;
    cursor: pointer;
    &:hover{
        color: skyblue;
    }
}
body{
    background: $background;
}

footer{
    display: none;
}

td {
    word-break: break-word;
}

#login {
    h2{
        color: #888;
    }
    input{
        color: $font-black;
    }
    .loginLink {
        color: $font-white;
        background: $background;    
        a {
            color: $font-white;
        }
    }

    .loginArea{
         background: $background;
         border: 3px solid $border-grey;
         border-radius: 10px;
         overflow: hidden;
    }

    #header{
        color: $font-white;
        background: $background;
    }

    .loginBtn {
        border: 0;
        cursor: pointer;
    }

}
// header

#commonHeader,aside,.threeQuestionsArea{
    background: $background-grey;
}
.currentNew span{
    color: #000 !important;
}

#gnav {
    .current, a:hover{
        color: #000;
    }
}

.tabelType01, .tabelType02 {
    th{
        background: $border-grey;
        border: 2px #555 solid;
    }
    td:not(.toAll){
        background: $background;
        border: 2px #555 solid;
    }
}

tr:not([onclick]):hover a{
    color: skyblue; 
    background: $background-grey;
}
tr[onclick]:hover td{
    color: $font-white;
    background: $background-grey;
}
// header

#commonHeader,.threeQuestionsArea{
    background: $background;
}
.menuList, .menuBlock{
    border-bottom: 3px solid $border-grey;
}
.menuList >li >i a,
.menuList >li a,
.navCategoryList a{
    color: $font-white;   
    font-size: 16px;
}

.currentNew span{
    color: #000 !important;
}

#gnav {
    a{
        &:not(.current):hover{
            color: $font-white;
            background: $background-grey;
        }

    }

    .current, a{
        border-radius: 5px;
        &:hover{
            color: $font-black;
            transform: translateX(5px);
        }
    }

}
.wrapper{
    overflow: visible;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
aside{
    width: auto;
    background: $background;
    padding: 10px;
    box-shadow: 0 0 10px #000;
}

#mainContents{
    width: auto;
    padding: 0 10px;
    margin: 0 10px;
}

.homeNewsBox{
    padding-top: 0; 
    .cateTtl {
        background-image: linear-gradient(to right,#ff0000,orange);
        padding: 10px;
        font-size: 18px;
        border-radius: 10px;
        width: -webkit-fill-available;  
        width: -moz-available;
        margin-bottom: 15px;
    }
    tr a.showList{
        color: $font-white;   
        font-size: 16px;
        border-radius: 5px;
        &:hover{
            color: $font-white;   
            background: $background-grey;
        }
        
    }
}
